body {
    font-family: 'Open Sans';
}

.card {
    margin-top: 1rem;
}

.t1 {
    text-align: center;
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 5rem;
}

.card-title {
    text-decoration: underline;
    font-weight: bold;
    font-size: 2rem;
}

.s1 {
    font-weight: bold;
}